
<div class="container section-gap">
  <div class="section-top-border">

    <div class="row">
      <div class="col-lg-4 col-md-6 booking-right center">
        <h3 class="mb-30 text-center">Iniciar Sesión</h3>
        <img class="mb-30 center" src="img/user-icon.png" alt="Icono de Usuario" width="100">
        <h5 class="mb-30 text-center ">Para poder utilizar la aplicación es necesario iniciar con Facebook</h5>
        <img class="mb-30 center" src="img/fb-icon.PNG" alt="Iniciar sesión con Facebook">
        <h6 class="mb-30 text-center">Si no ha iniciado sesión con anterioridad, usaremos su información de Facebook
          Y tendrá que establecer un nombre de usuario.</h6>
      </div>
    </div>
  </div>
</div>



