.login-background{
  background: url("../../assets/images/login-background.jpg") no-repeat;
  background-size: cover ;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-login{
  width: 390px;
  background:rgba(255,255,255,0.75);
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-title{
  background-color: #249DD8;
  color: white;
}

.txt1 {
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-size: 13px;
  color: #38a4ff;
  line-height: 1.5;
}
.facebook{
  background-color:#1939ab;
  color: white;
  width: 100%;
  font-size: 18px;
}

.register-btn{
  width: 100%;
  font-size: 18px;
}

.login-icon{
  width: 70%;
}
