<div class="login-background">
  <div class="wrap-login">
    <div class="row">
      <div class="col-sm-12 center">
        <h2 class="mb-60 text-center login-title">Iniciar Sesión</h2>
        <img class="mb-60 center login-icon" src="../../assets/images/login-icon.png" alt="Icono de Usuario">
        <button class="mb-40 center genric-btn facebook">
           <span class="mr-20 fa fa-facebook text-rigth"></span> <span class="text-center">Login with Facebook</span>
        </button>
        <div class="center text-center">
            <span class="txt1">
                ¿No tiene cuenta?
            </span>
          <a class="txt2" routerLink="/register">
              Registrarse
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-public-footer></app-public-footer>
