<!-- start footer Area -->
<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <a href="https://www.ucr.ac.cr/"><img class="mx-auto d-block img-fluid mt-3 logo" src="../../../assets/images/ucr/firma-vertical-dos-lineas-cmyk.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <a href="http://www.cicg.ucr.ac.cr/"><img class="mx-auto d-block img-fluid mt-5 logo" src="../../../assets/images/ucr/logo_cicg.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
          <a href="https://www.ecci.ucr.ac.cr/"><span class="helper"></span><img class="mx-auto d-block img-fluid mt-5 logo" src="../../../assets/images/ucr/logo_ecci.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom row">
      <p class="footer-text m-0 col-lg-6 col-md-12">
        Copyright &copy; Centro de Investigaciones en Ciencias Geológicas
        <br>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy; This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="footer-social col-lg-6 col-md-12">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->