<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          ¿Qué es un rally geológico?
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/rallies"> Rallies</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start Align Area -->
<div class="whole-wrap">

    <div class="section-top-border">
      <div class="container">
      <h3 class="mb-30">¿Qué es un rally geológico?</h3>
      <div class="row">
        <div class="col-md-5">
          <img src="../../assets/images/instructions.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-7 mt-sm-20">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ornare mauris. Suspendisse rhoncus egestas elit at fringilla. In hac habitasse platea dictumst. Integer luctus imperdiet venenatis. Donec ac fermentum mauris. Sed mollis sem id lacus tempus gravida. Pellentesque cursus arcu velit, id pretium mi maximus a. Aliquam non est ornare, varius lectus non, dictum massa.</p>
          <p>Fusce pellentesque lorem arcu, cursus faucibus sem accumsan at. Sed a elit consequat, venenatis tellus sit amet, pharetra nulla. In quis turpis eu ipsum porta congue. Cras est lorem, malesuada eget mi ut, vestibulum ornare quam. Ut in nulla a mauris vulputate sodales. Morbi dapibus viverra ex, a blandit lectus cursus non. Aliquam vitae ultrices nisi. Aenean vitae arcu id ligula hendrerit blandit. Duis tempor lectus velit, a accumsan ante placerat convallis. Vivamus nisl est, eleifend eget aliquet quis, aliquam a est. Vivamus volutpat arcu quis odio sollicitudin efficitur. Etiam in augue diam. Praesent convallis venenatis pharetra. Ut rutrum, lacus sit amet feugiat hendrerit, felis ante dictum erat, ac ultrices odio augue sed ante. Phasellus eu lobortis magna, quis bibendum libero.</p>
        </div>
      </div>
      </div>
    </div>
    <div class="section-top-border text-right section-2">
      <div class="container">
      <h3 class="mb-30">¿Cómo participo rally geológico?</h3>
      <div class="row">
        <div class="col-md-7">
          <p class="text-right"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ornare mauris. Suspendisse rhoncus egestas elit at fringilla. In hac habitasse platea dictumst. Integer luctus imperdiet venenatis. Donec ac fermentum mauris. Sed mollis sem id lacus tempus gravida. Pellentesque cursus arcu velit, id pretium mi maximus a. Aliquam non est ornare, varius lectus non, dictum massa.</p>
          <p class="text-right">Fusce pellentesque lorem arcu, cursus faucibus sem accumsan at. Sed a elit consequat, venenatis tellus sit amet, pharetra nulla. In quis turpis eu ipsum porta congue. Cras est lorem, malesuada eget mi ut, vestibulum ornare quam. Ut in nulla a mauris vulputate sodales. Morbi dapibus viverra ex, a blandit lectus cursus non. Aliquam vitae ultrices nisi. Aenean vitae arcu id ligula hendrerit blandit. Duis tempor lectus velit, a accumsan ante placerat convallis. Vivamus nisl est, eleifend eget aliquet quis, aliquam a est. Vivamus volutpat arcu quis odio sollicitudin efficitur. Etiam in augue diam. Praesent convallis venenatis pharetra. Ut rutrum, lacus sit amet feugiat hendrerit, felis ante dictum erat, ac ultrices odio augue sed ante. Phasellus eu lobortis magna, quis bibendum libero.</p>
        </div>
        <div class="col-md-5">
          <img src="../../assets/images/instructions.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<app-public-footer></app-public-footer>
