<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Competición
        </h1>
        <p class="text-white link-nav"><a routerLink="/dashboard">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a routerLink="/rallies"> Competición</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<section class="contact-page-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="text-center">
          <img class="competition-image mb-3" src="img/rally.jpg">
          <h3 class="mb-3">Nombre del rally</h3>
          <div class="offset-md-3 col-md-6 col-xs-12">
            <button title="Modificar rally" class="btn btn-default btn-sm btn-block text-center mb-3">Modificar rally</button>
          </div>
          <p>Este rally es para aquellos que lorem ipsum dolor lorem ipsum dolor
            lorem ipsum dolor lorem ipsum dolor
            lorem ipsum dolor lorem ipsum dolor
            lorem ipsum dolor lorem ipsum dolor
            lorem ipsum dolor lorem ipsum dolor
            lorem ipsum dolor lorem ipsum dolor</p>
          <h5 class="mb-3">Creado por: Expl0r3r05</h5>
          <div class="offset-md-3 col-md-6 col-xs-12">
            <button title="Ir al perfil del creador" class="btn btn-default btn-sm btn-block text-center mb-3">Ir al perfil</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="myskills slideanim slide">
          <h3 class="text-center">Rally</h3>
          <p class="text-center">Información del rally</p>
          <div>
            <h3>Información</h3> <br>
            <ul>
              <li><strong>Estado</strong> Activo</li>
              <li><strong>Creado en:</strong> 00/00/00</li>
              <li><strong>Público</strong></li>
              <li><strong>Cantidad de sitios en el rally: </strong> 7</li>
              <li><strong>Puntos totales del rally: </strong> 215</li>
              <li><strong>Número actual de jugadores: </strong> 10</li>
              <li><strong>Jugador con más puntos: </strong> Usuario6352 <i class="fa fa-trophy"></i></li>
            </ul>
            <hr>
            <h3>Estadísticas</h3> <br>
            <div class="row">
              <div class="col-md-4 offset-4">
                <button title="Ver mapa interactivo de este rally" class="btn btn-default btn-sm btn-block text-center">Mapa interactivo</button>
              </div>
            </div>
            <h4>Tabla de líderes</h4> <br>
            <div>
              <table class="table">
                <tbody>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Puntos</th>
                <th>Perfil</th>
                <tr>
                  <td><h4>Ana Laura Vargas</h4></td>
                  <td><h5>Usuario6352</h5></td>
                  <td><p>200</p></td>
                  <td><button title="Ir al perfil de este usuario" class="btn btn-default btn-sm btn-block text-center">Ir al perfil</button></td>
                </tr>
                <tr>
                  <td><h4>Fernando Rojas</h4></td>
                  <td><h5>Usuario6353</h5></td>
                  <td><p>150</p></td>
                  <td><button title="Ir al perfil" class="btn btn-default btn-sm btn-block text-center">Ir al perfil</button></td>
                </tr>
                <tr>
                  <td><h4>Carlos Gamboa</h4></td>
                  <td><h5>Usuario6354</h5></td>
                  <td><p>110</p></td>
                  <td><button title="Ir al perfil" class="btn btn-default btn-sm btn-block text-center">Ir al perfil</button></td>
                </tr>
                <tr>
                  <td><h4>Jhosua Arias</h4></td>
                  <td><h5>Usuario6355</h5></td>
                  <td><p>50</p></td>
                  <td><button title="Ir al perfil" class="btn btn-default btn-sm btn-block text-center">Ir al perfil</button></td>
                </tr>
                <tr>
                  <td><h4>Benjamín Blanco</h4></td>
                  <td><h5>Usuario6356</h5></td>
                  <td><p>0</p></td>
                  <td><button title="Ir al perfil" class="btn btn-default btn-sm btn-block text-center">Ir al perfil</button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <a class="btn btn-block btn-social btn-facebook" style="color: white; text-align: center">
              <span class="fa fa-facebook" style="color: white"></span> Invitar amigos
            </a>
          </div>
          <br>
          <div class="col-md-6 text-center">
            <h4>Invitar por nombre de usuario</h4>
            <form>
              Nombre de usuario: <input  title="Digite el nombre de ususario que quiere invitar" type="text"><br>
              <input type="submit" value="Invitar">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>