.competition-image{
    border-radius: 70%;
    width: 200px;
    height: 200px;
}

.user-image {
    border-radius: 70%;
    width:30%;
    height: auto;
}

.gap {
    padding: 10em 0;
}

.busqueda {
    display:flex;
    position:relative;
    margin:1em auto;
    width:60%;
    flex-direction:row;
    /*box-shadow:
      1px 1px 0 #EBA71C,
      2px 2px 0 #EBA71C
  ;*/
}

.busqueda>input[type=text],
.busqueda>button {
    display:block;
    font:1.2em 'Arial';
}

.busqueda>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid #fdb727;
}

.busqueda>button {
    padding:0.6em 0.8em;
    background-color:#fdb727;
    color:white;
    border:none;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: #0C344E;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

/deep/ .page-item.active .page-link {
    color: white !important;
    background-color: #fdb727 !important;
    border-color: #fdb727 !important;
}
