<app-public-header [activeTab]="0"></app-public-header>
<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-12">
        <h6>Introduciendo los Rallies Geológicos</h6>
        <span class="bar"></span>
        <h2 class="text-white mb-3 mt-3">
          Visita Costa Rica<br>
          Compite con amigos <br>
          Aprende sobre la Geología de Costa Rica
        </h2>
        <a href="#" class="genric-btn">Conoce más</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start about-video Area -->
<section class="about-video-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 about-video-left">
        <h6 class="text-uppercase">La nueva aplicación competitiva que te permite aprender mientras te diviertes</h6>
        <h1>
          ¿Deseas explorar
          las maravillas geológicas
          costarricenses?
        </h1>
        <p>
          <span>Descubre con tus amigos</span>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmo d tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a class="primary-btn" href="#">Comienza ahora</a>
      </div>
      <div class="col-lg-6 about-video-right justify-content-center align-items-center d-flex">
      </div>
    </div>
  </div>
</section>
<!-- End about-video Area -->

<!-- Start latest-blog Area -->
<section class="latest-blog-area section-gap bg-blue" id="blog">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Últimos rallies añadidos</h1>
          <p class="text-gray">Destacando la geología de Guanacaste</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 single-blog" *ngFor="let rally of newestRallies">
        <img class="img-fluid" src="{{rally.ImageUrl}}" alt="../../assets/images/elena.jpg">
        <ul class="tags">
          <li><a >Nuevo</a></li>
        </ul>
        <a href="#"><h4 class="text-white">{{rally.Name}}</h4></a>
        <p class="text-gray">
          {{rally.Description}}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End latest-blog Area -->
<app-public-footer></app-public-footer>
