<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-center d-flex">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Inicio</a></li>
          <li><a href="about.html">Mi Perfil</a></li>
          <li class="menu-has-children"><a href="">Rallies</a>
            <ul>
              <li><a href="blog-home.html">¿Qué es un rally geológico?</a></li>
              <li><a href="blog-home.html">Crear un rally</a></li>
              <li><a href="blog-single.html">Buscar rallies</a></li>
            </ul>
          </li>
          <li><a href="elements.html">Exploradores</a></li>
          <li><a href="elements.html">Glosario</a></li>
          <li><a href="elements.html">Acerca de nosotros</a></li>
          <li><a href="elements.html">Cerrar Sesión</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->