
  <div class="section-top-border">
    <div class="row">
      <div class="col-lg-4 col-md-6 booking-right center">
        <h3 class="mb-30 text-center">Registrarse</h3>
        <img class="mb-30 center" src="../../assets/images/user-icon.png" alt="Icono de Usuario" width="100">
        <h5 class="mb-30 text-center ">Llene los siguientes datos para poder tener más información de usted.</h5>
        <form action="#">
          <input class="form-control disabled-c" type="text" name="name" placeholder="Nombre" disabled>
          <input class="form-control disabled" type="email" name="middlename" placeholder="Primer Apellido" disabled>
          <input class="form-control disabled" type="text" name="lastname" placeholder="Segundo Apellido" disabled>
          <input class="form-control disabled" type="text" name="email" placeholder="Correo Electrónico" disabled>
          <input class="form-control " type="text" name="email" placeholder="Nombre Usuario" required>
          <button  class="btn btn-default btn-lg btn-block text-center">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
  <app-public-footer></app-public-footer>
